{% extends 'cu_dash.html' %}
{% load static %}
{% block Cu_Dash %}
  
<div class="page-breadcrumb">
    <div class="row align-items-center">
        <div class="col-5">
            <h4 class="page-title">Profile</h4>     
        </div>
    </div>
  </div>
  <div class="container-fluid">
  
<div class="row">
                    <!-- Column -->
                    <div class="col-lg-4 col-xlg-3 col-md-5">
                        <div class="card">
                            <div class="card-body">
                                <center class="m-t-30"> <img src="{{vars.cus_photo.url}}"
                                        class="rounded-circle" width="250"></img>
                                    <h4 class="card-title m-t-10">{{vars.cus_nm}}</h4>
                                    <h6 class="card-subtitle">{{vars.cus_em}}</h6>
                                  </div>
                                </center>
                            </div>
                            <div>
                                <hr>
                                </div>
                       <div class="card-body"> <small class="text-muted">Email address </small>
                                <h4>{{vars.cus_em}}</h4> <hr><small class="text-muted p-t-30 db">Phone</small>
                                <h4>{{vars.cus_con}}</h4><hr> <small class="text-muted p-t-30 db">Address</small>
                                <h4>{{vars.cus_add1}}</h4><hr>
                            </div>
                        </div>

  <div class="col-lg-8 col-xlg-9 col-md-7">
                        <div class="card">
                            <div class="card-body">
                                <form class="form-horizontal form-material mx-2">
                                <h1><center> About Us</h1>
                               <h5> <em><i><p>We believe you should be able to access and control your personal information no matter where you live. Depending on how you use Shopify, you may have the right to request access to, correct, amend, delete, port to another service provider, restrict, or object to certain uses of your personal information (for example, direct marketing). We will not charge you more or provide you with a different level of service if you exercise any of these rights.</p>

<p>If you buy something from a Shopify-powered store and wish to exercise these rights over information about your purchase, you need to directly contact the merchant you interacted with. We are only a processor on their behalf, and cannot decide how to process their information. As such, we can only forward your request to them to allow them to respond. We will of course help our merchants to fulfill these requests by giving them the tools to do so and by answering their questions.</p>

<p>Please note that if you send us a request relating to your personal information, we have to make sure that it is you before we can respond. In order to do so, we may ask to see documentation verifying your identity, which we will discard after verification.

If you would like to designate an authorized agent to exercise your rights for you, please email us from the email address we have on file for you. If you email us from a different email address, we cannot determine if the request is coming from you and will not be able to accommodate your request. In your email, please include the name and email address of your authorized agent.</p>
<p>If you are not happy with our response to a request, you can contact us to resolve the issue. You also have the right to contact your local data protection or privacy authority at any time.

Finally, because there is no common understanding about what a “Do Not Track” signal is supposed to mean, we don’t respond to those signals in any particular way.</p>
<p>Our teams work tirelessly to protect your information, and to ensure the security and integrity of our platform. We also have independent auditors assess the security of our data storage and systems that process financial information. However, we all know that no method of transmission over the Internet, and method of electronic storage, can be 100% secure. This means we cannot guarantee the absolute security of your personal information.</p></em><i>
                               </h5>
                            </form>
                            </div>
                            </div>
                        </div>
                          <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <!-- title -->
                                <div class="d-md-flex">
                <div class="row"></div>
 {% endblock Cu_Dash %}